@font-face {
    font-family: customFont; 
    src: url("../fonts/Louis George Cafe.ttf");
}

* {
	box-sizing: border-box;
}
.body{
	width: 1280px;
	font-family: customFont;
	background-color: #adadad;
	margin: auto;
}
.header{
	float: left;
	width: 75%;
	height: 300px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
}
.picture{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	top: -100px;
}
.sideBar{
	float: left;
	width: 310px;
	height: 300px;
	margin-top: 10px;
	background-color: #ffffff;
}
.sideBarText{
	margin-top: 15px;
	text-align: center;
	color: #000000;
}
.navigationBar{
	clear: both;
	width: 100%;
	background-color: #002791;
	padding-top:5px;
	padding-bottom:23px;
	margin-top: 20px;
}
.navigationLinks{
	float: left;
	color: #ffffff;
}
.links{
	text-decoration: none;
	color: #ffffff;
	position: absolute;
}
.projectHeader{
	float: left;
	width: 49.5%;
	height: 100px;
	background-color: #ffffff;
	margin-top: 10px;
}
.projectHeaderText{
	font-size: 78px;
	color: #000000;
	text-align: center;
}
.writingHeader{
	float: left;
	width: 49.5%;
	height: 100px;
	background-color: #ffffff;
	margin-top: 10px;
	margin-left: 12px;
}
.writingHeaderText{
	font-size: 78px;
	color: #000000;
	text-align: center;
}
.projectContents{
	clear: both;
	float: left;
	width: 49.5%;
	height: 300px;
	background-color: #ffffff;
	margin-top: 10px;
}
.projectContentsText{
	font-size: 20px;
	color: #000000;
	text-align: center;
}
.writingContents{
	float: left;
	width: 49.5%;
	height: 300px;
	background-color: #ffffff;
	margin-top: 10px;
	margin-left: 12px;
}
.writingContentsText{
	font-size: 20px;
	color: #000000;
	text-align: center;
}
